<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
        <style type="text/css">
            body {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                color: #000000;
                margin: 4rem 4rem;
            }
            .header {
                text-align: center;
                font-size: 20px;
                font-weight: bold;
                padding-bottom: 4rem;
            }
        </style>
    </head>

    <body class="">
        <div class="header">
            <h3>IPIN Sponsorship Application</h3>
        </div>
        <p>
            Organization Name:
            <span>{{ $orgname}}</span>
        </p>
        <p>
            Provider/Attorney Name:
            <span>{{ $providername}}</span>
        </p>
        <p>
            Contact Person:
            <span>{{ $contact }}</span>
        </p>
        <p>
            Address:
            <span>{{ $address }}</span>
        </p>
        <p>
            Email:
            <span>{{ $email }}</span>
        </p>
        <p>
            Phone:
            <span>{{ $phone }}</span>
        </p>
        <p>
            Fax:
            <span>{{ $fax }}</span>
        </p>
        <p>
            License #:
            <span>{{ $license }}</span>
        </p>
        <p>
            Website URL:
            <span>{{ $url }}</span>
        </p>
        </br>
        <p>
            Sponsorship Level: 
            <span>{{ $sponsorshp }}</span>
        </p>
        </br>
        </br>
        <p>
            Submission Date:
            <span>{{ $date }}</span>
        </p>
    </body>
</html>
